
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: manager-role
  namespace: kgrid-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - applications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kgrid.replicated.com
  resources:
  - applications/finalizers
  verbs:
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - applications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - grids
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kgrid.replicated.com
  resources:
  - grids/finalizers
  verbs:
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - grids/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - outcomes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kgrid.replicated.com
  resources:
  - outcomes/finalizers
  verbs:
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - outcomes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - versions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kgrid.replicated.com
  resources:
  - versions/finalizers
  verbs:
  - update
- apiGroups:
  - kgrid.replicated.com
  resources:
  - versions/status
  verbs:
  - get
  - patch
  - update
