
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: applications.kgrid.replicated.com
spec:
  group: kgrid.replicated.com
  names:
    kind: Application
    listKind: ApplicationList
    plural: applications
    singular: application
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Application is the Schema for the applications API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ApplicationSpec defines the desired state of Application
            properties:
              kots:
                properties:
                  appSlug:
                    type: string
                  channelID:
                    type: string
                  channelSequence:
                    type: integer
                  clusters:
                    items:
                      type: string
                    type: array
                  configValues:
                    description: App is the Schema for the app API
                    properties:
                      apiVersion:
                        description: 'APIVersion defines the versioned schema of this
                          representation of an object. Servers should convert recognized
                          schemas to the latest internal value, and may reject unrecognized
                          values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
                        type: string
                      kind:
                        description: 'Kind is a string value representing the REST
                          resource this object represents. Servers may infer this
                          from the endpoint the client submits requests to. Cannot
                          be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                        type: string
                      metadata:
                        type: object
                      spec:
                        description: ConfigValuesSpec defines the desired state of
                          ConfigValue
                        properties:
                          values:
                            additionalProperties:
                              properties:
                                data:
                                  type: string
                                dataPlaintext:
                                  type: string
                                default:
                                  type: string
                                value:
                                  type: string
                                valuePlaintext:
                                  type: string
                              type: object
                            type: object
                        required:
                        - values
                        type: object
                      status:
                        description: ConfigValuesStatus defines the observed state
                          of ConfigValues
                        type: object
                    type: object
                  licenseID:
                    type: string
                  namespace:
                    type: string
                  skipPreflights:
                    type: boolean
                  version:
                    type: string
                required:
                - appSlug
                - channelID
                - channelSequence
                - clusters
                - configValues
                - licenseID
                - namespace
                - skipPreflights
                - version
                type: object
            type: object
          status:
            description: ApplicationStatus defines the observed state of Application
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
