
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: grids.kgrid.replicated.com
spec:
  group: kgrid.replicated.com
  names:
    kind: Grid
    listKind: GridList
    plural: grids
    singular: grid
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Grid is the Schema for the grids API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: GridSpec defines the desired state of Grid
            properties:
              clusters:
                items:
                  properties:
                    eks:
                      properties:
                        accessKeyId:
                          properties:
                            value:
                              type: string
                            valueFrom:
                              properties:
                                secretKeyRef:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                  - key
                                  - name
                                  type: object
                                ssm:
                                  properties:
                                    accessKeyId:
                                      properties:
                                        value:
                                          type: string
                                        valueFrom:
                                          properties:
                                            secretKeyRef:
                                              properties:
                                                key:
                                                  type: string
                                                name:
                                                  type: string
                                              required:
                                              - key
                                              - name
                                              type: object
                                          type: object
                                      required:
                                      - value
                                      type: object
                                    name:
                                      type: string
                                    region:
                                      type: string
                                    secretAccessKey:
                                      properties:
                                        value:
                                          type: string
                                        valueFrom:
                                          properties:
                                            secretKeyRef:
                                              properties:
                                                key:
                                                  type: string
                                                name:
                                                  type: string
                                              required:
                                              - key
                                              - name
                                              type: object
                                          type: object
                                      required:
                                      - value
                                      type: object
                                    withDecryption:
                                      type: boolean
                                  required:
                                  - name
                                  type: object
                                vault:
                                  properties:
                                    agentInject:
                                      type: boolean
                                    connectionTemplate:
                                      type: string
                                    endpoint:
                                      type: string
                                    kubernetesAuthEndpoint:
                                      type: string
                                    role:
                                      type: string
                                    secret:
                                      type: string
                                    serviceAccount:
                                      type: string
                                    serviceAccountNamespace:
                                      type: string
                                  required:
                                  - role
                                  - secret
                                  type: object
                              type: object
                          type: object
                        create:
                          type: boolean
                        region:
                          type: string
                        secretAccessKey:
                          properties:
                            value:
                              type: string
                            valueFrom:
                              properties:
                                secretKeyRef:
                                  properties:
                                    key:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                  - key
                                  - name
                                  type: object
                                ssm:
                                  properties:
                                    accessKeyId:
                                      properties:
                                        value:
                                          type: string
                                        valueFrom:
                                          properties:
                                            secretKeyRef:
                                              properties:
                                                key:
                                                  type: string
                                                name:
                                                  type: string
                                              required:
                                              - key
                                              - name
                                              type: object
                                          type: object
                                      required:
                                      - value
                                      type: object
                                    name:
                                      type: string
                                    region:
                                      type: string
                                    secretAccessKey:
                                      properties:
                                        value:
                                          type: string
                                        valueFrom:
                                          properties:
                                            secretKeyRef:
                                              properties:
                                                key:
                                                  type: string
                                                name:
                                                  type: string
                                              required:
                                              - key
                                              - name
                                              type: object
                                          type: object
                                      required:
                                      - value
                                      type: object
                                    withDecryption:
                                      type: boolean
                                  required:
                                  - name
                                  type: object
                                vault:
                                  properties:
                                    agentInject:
                                      type: boolean
                                    connectionTemplate:
                                      type: string
                                    endpoint:
                                      type: string
                                    kubernetesAuthEndpoint:
                                      type: string
                                    role:
                                      type: string
                                    secret:
                                      type: string
                                    serviceAccount:
                                      type: string
                                    serviceAccountNamespace:
                                      type: string
                                  required:
                                  - role
                                  - secret
                                  type: object
                              type: object
                          type: object
                        version:
                          type: string
                      required:
                      - accessKeyId
                      - create
                      - region
                      - secretAccessKey
                      type: object
                    logger:
                      properties:
                        slack:
                          properties:
                            channel:
                              type: string
                            token:
                              properties:
                                value:
                                  type: string
                                valueFrom:
                                  properties:
                                    secretKeyRef:
                                      properties:
                                        key:
                                          type: string
                                        name:
                                          type: string
                                      required:
                                      - key
                                      - name
                                      type: object
                                    ssm:
                                      properties:
                                        accessKeyId:
                                          properties:
                                            value:
                                              type: string
                                            valueFrom:
                                              properties:
                                                secretKeyRef:
                                                  properties:
                                                    key:
                                                      type: string
                                                    name:
                                                      type: string
                                                  required:
                                                  - key
                                                  - name
                                                  type: object
                                              type: object
                                          required:
                                          - value
                                          type: object
                                        name:
                                          type: string
                                        region:
                                          type: string
                                        secretAccessKey:
                                          properties:
                                            value:
                                              type: string
                                            valueFrom:
                                              properties:
                                                secretKeyRef:
                                                  properties:
                                                    key:
                                                      type: string
                                                    name:
                                                      type: string
                                                  required:
                                                  - key
                                                  - name
                                                  type: object
                                              type: object
                                          required:
                                          - value
                                          type: object
                                        withDecryption:
                                          type: boolean
                                      required:
                                      - name
                                      type: object
                                    vault:
                                      properties:
                                        agentInject:
                                          type: boolean
                                        connectionTemplate:
                                          type: string
                                        endpoint:
                                          type: string
                                        kubernetesAuthEndpoint:
                                          type: string
                                        role:
                                          type: string
                                        secret:
                                          type: string
                                        serviceAccount:
                                          type: string
                                        serviceAccountNamespace:
                                          type: string
                                      required:
                                      - role
                                      - secret
                                      type: object
                                  type: object
                              type: object
                          type: object
                      type: object
                    name:
                      type: string
                  required:
                  - name
                  type: object
                type: array
            type: object
          status:
            description: GridStatus defines the observed state of Grid
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
